<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field *ngIf="!(isLoading$ | async) && (trainingList$ | async)">
        <mat-label>Select a training</mat-label>
        <mat-select [(value)]="selectedTraining">
          <mat-option *ngFor="let tr of trainingList$ | async;" [value]="tr.tid">
            {{tr.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center"><button *ngIf="trainingList$ | async"
        mat-raised-button color="primary" type="submit" (click)="onStartTraining()">Start</button>
      <button *ngIf="!(trainingList$ | async)" mat-raised-button color="primary" type="button"
        (click)="onRetry()">Retry</button>
    </mat-card-actions>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </mat-card>
</section>
